html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Bauziet-light;
  src: url(../fonts/Bauziet\ Norm\ Light.ttf);
}

@font-face {
  font-family: Bauziet-regular;
  src: url(../fonts/Bauziet\ Wide\ Regular.ttf);
}

@font-face {
  font-family: Bauziet-bold;
  src: url(../fonts/Bauziet\ Norm\ Bold.ttf);
}

.bauziet-regular {
  font-family: Bauziet-regular;
}

.bauziet-bold {
  font-family: Bauziet-bold;
}

.bauziet-light {
  font-family: Bauziet-light;
}

.hero-text-wrapper {
  padding: clamp(10px, 6vw, 64px);
}

.hero-big-text {
  width: 100%;
  max-width: 1073px;
  font-size: clamp(22px, 3vw, 55px);
}

.hero-small-text {
  width: 100%;
  max-width: 977px;
  font-size: clamp(12px, 2vw, 20px);
}

.work-title {
  font-size: clamp(18px, 5vw, 36px);
}

.work-wrapper {
  width: 100%;
  max-width: 739px;
  padding: clamp(10px, 6vw, 64px);
}



.accordion-wrapper {
  padding-left: clamp(1px, 5vw, 64px);
  padding-right: clamp(1px, 5vw, 64px);
}

.accordion-project-name {
  font-size: clamp(18px, 2vw, 36px);
}

.accordion-p-text {
  font-size: clamp(14px, 2vw, 18px);
  width: 100%;
  min-width: 300px;
  max-width: 1000px;
}



@media screen and (max-width: 768px) {
  .res-bar {
    display: block;
  }

  .links-nav {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .downImgTwo {
    display: block;
  }
}